@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    min-height: auto;
    display: block;  
}

.table {
    width: 100%;
    border: 1px solid #EEEEEE;
}


.table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: 12px 0;  
}

.table-row {
    display: flex;
    width: 100%;
    padding: 12px 0;
}

.table-row:nth-of-type(odd) {
    background: #EEEEEE;
}

.table-data,
.header__item {
    flex: 1 1 20%;
    text-align: center;
}

.header__item {
    flex: 1 1 20%;
    text-align: center;
    text-transform: uppercase;
    color: white; 
}

.filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}

.filter__link::after {
    content: '';
    position: absolute;
    right: -12px; 
    font-size: 12px; 
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.filter__link.desc::after {
    content: '(desc)';
}

.filter__link.asc::after {
    content: '(asc)';
}

:root {
  --accent-900: #49a87d;
  --accent-800: #1b945b;
  --check-svg: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23ffffff'%3E%3Cpath d='M400-314.46 250.46-464 296-509.54l104 104 264-264L709.54-624 400-314.46Z'/%3E%3C/svg%3E");
  --notification-inset: 2rem;
  font-family: system-ui;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Notification container */
.notification {
  color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 1.4;
  gap: 1.75rem;
  top: 0;
  right: 0;
  margin: var(--notification-inset);
  width: 24rem;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  max-width: calc(100% - 6rem);
  z-index: 2;
  padding: 1.75rem 1.25rem 1.25rem;
  overflow: clip;
  transform: translateX(calc(100% + var(--notification-inset)));
  animation: slideInOut 4s infinite cubic-bezier(0.33, 0, 0.66, 1.33);
  animation-play-state: var(--animation-play-state);
}

/* Pause animation on hover */
.notification:hover {
  --animation-play-state: paused;
}

/* Top progress bar */
.notification::before {
  content: "";
  display: block;
  inset: 0 0 auto;
  height: 0.5rem;
  background-color: var(--accent-900);
  transform-origin: left;
  position: absolute;
  animation: countdown 4s infinite linear;
  animation-play-state: var(--animation-play-state);
}

/* Text */
.notification__text {
  margin: 0.3rem 0 0;
}

/* Header */
.notification__header {
  color: black;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Action area */
.notification__action {
  margin-left: auto;
}

/* Icon */
.notification__icon {
  border-radius: 50%;
  display: block;
  aspect-ratio: 1;
  background-size: 3rem;
  background-color: var(--accent-900);
  background-image: var(--check-svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  width: 3.2rem;
  margin-bottom: auto;
  flex-shrink: 0;
}

/* Button reset */
.button {
  appearance: none;
  background: no-repeat;
  border: none;
  font: inherit;
  margin: 0;
  color: currentColor;
  padding: 0;
}

/* Animations */
@keyframes slideInOut {
  15%,
  66% {
    transform: translateX(0);
  }
}

@keyframes countdown {  
  66%,
  100% {
    transform: scaleX(0);
  }
}

.notification {
  --accent-900: #49a87d;
}

.notification[data-category="error"] {
  --accent-900: #d9534f;
}


/* Header */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--header-outer-height: 110px;
	--header-inner-height: 70px;
	--header-height-difference: calc(
		var(--header-outer-height) - var(--header-inner-height)
	);
	--header-bg: #fff;
}

body {
	font-family: "DM Sans", sans-serif;
	background-color: #f2f5f7;
	line-height: 1.5;
	min-height: 300vh;
	position: relative;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

/* Sticky header */
.header-outer {
	/* Make it stick */
	height: var(--header-outer-height);
	position: sticky;
	top: calc(
		var(--header-height-difference) * -1
	); /* Multiply by -1 to get a negative value */
	display: flex;
	align-items: center;

	/* Other */
	background-color: var(--header-bg);
	box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
}

.header-inner {
	/* Make it stick */
	height: var(--header-inner-height);
	position: sticky;
	top: 0;

	/* Other */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Styling of other elements */
.header-logo img {
	display: block;
	height: calc(var(--header-inner-height) - 30px);
}

.header-navigation {
	display: flex;
	flex-wrap: wrap;
}

.header-navigation a,
.header-navigation button {
	font-size: 1.125rem;
	color: inherit;
	margin-left: 1.75rem;
	position: relative;
	font-weight: 500;
}

.header-navigation a {
	display: none;
	font-size: 1.125rem;
	color: inherit;
	text-decoration: none;
}

.header-navigation button {
	border: 0;
	background-color: transparent;
	padding: 0;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
	transform: scalex(1);
}

.header-navigation a:after,
.header-navigation button:after {
	transition: 0.25s ease;
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: currentcolor;
	transform: scalex(0);
	position: absolute;
	bottom: -2px;
	left: 0;
}

.main {
	margin-top: 3rem;
}

.widget {
	width: 100%;
	max-width: 600px;
	border-radius: 8px;
	box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
	background-color: #fff;
	padding: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	font-size: 1.125rem;
}

.widget > * + * {
	margin-top: 1.25em;
}

.widget h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.25;
}

.widget code {
	display: inline-block;
	padding: 0.125em 0.25em;
	border-radius: 2px;
	background-color: #bee5d3;
}

.widget strong {
	font-weight: 700;
}

@media (min-width: 800px) {
	.header-navigation a {
		display: inline-block;
	}

	.header-navigation button {
		display: none;
	}
}