{% extends "base.html" %}
{% from "macro.html" import render_field %}

{% block content %}
    <h1>Create Allocations</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{render_field(form.teacher ,1)}}
        {{render_field(form.course ,1)}}
        {{render_field(form.group ,1)}}
        {{render_field(form.start_date ,1)}}
        {{render_field(form.end_date ,1)}}
        {{render_field(form.weekday ,1)}}
        {{render_field(form.start_time ,1)}}
        {{render_field(form.end_time ,1)}}

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}